<ion-view>
  <ion-nav-bar>
    <ion-nav-title>我的账户</ion-nav-title>
    <ion-nav-buttons>
      <button class="button button-clear button-assertive button-icon icon ion-ios-arrow-left" ng-click="back()"></button>
      <h1 class="title"></h1>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="myAccount">
      <div>
        <p>账户名：{{infos.name}}</p>
        <p>绑定手机：{{infos.phone}}</p>

        <p>账户总额：<span style="color: orange">{{amount.rest+amount.pr}}</span>元</p>
        <p style="padding-left: 5px">现金账户：<span style="color: orange">{{amount.rest}}</span>元</p>
        <p style="padding-left: 5px">返现账户：<span style="color: orange">{{amount.pr}}</span>元</p>
      </div>
      <a class="button" >
        <p>爱心积分：<span>{{amount.ls}}</span></p>
      </a>
      <a class="button" >
        <p>消费积分：<span>{{amount.st-amount.ls}}</span></p>
      </a>
      <a class="button" >
        <p>我的爱心</p><i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="button" href="#/editData/amountPass/{{amount.isSetPayPas}}">
        <p>修改支付密码</p><i class="icon ion-ios-arrow-right"></i>
      </a>

    </div>
  </ion-content>
</ion-view>
