<ion-view>
  <ion-header-bar>
    <button class="button button-clear button-icon icon ion-ios-arrow-left"></button>
    <h3 class="title">爱心墙</h3>
    <button class ="button button-clear button-assertive">分享</button>
  </ion-header-bar>
  <ion-content class="has-tabs">
    <div class="tabs tabs-striped tabs-top assertive-border">
      <a class="tab-item">本月</a>
      <a class="tab-item">最近30天</a>
      <a class="tab-item">全部</a>
    </div>
    <ion-list>
      <ion-item ng-repeat = "">
        <div class="col">
          <span>名字</span>
          <span>被赞N次</span>
        </div>
        <div class="col">
          <span>￥11.74</span>
          <span>已点赞</span>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
